.u-text-align-center {
  text-align: center;
}

.u-text-transform-reset {
  text-transform: none;
}

.u-text-transform-uppercase {
  text-transform: uppercase;
}

.u-text-white {
  color: white;
}

.u-margin-bottom-medium {
  margin-bottom: 10px !important;
}


.u-border-bottom {
  border-bottom: 1px solid white;
}
