
<link rel="icon" href="imgs/favicon.ico">
<div class="profile">
  <img src="imgs/profile-ver5.png">
</div>
<h1 class="u-margin-top-none u-padding-top-none">Vivian Chen </h1>

<div class="content">
  <h3>Hi there. I am a Front-End Web Developer and aspiring UX Designer based out of Vancouver. I like to travel to places in the world where I can <a href="http://freesolotraveller.com">climb rocks</a> and then write about it later. </h3>
  <h3 class="u-font-size-small">I am currently seeking out career opportunities, if you think we'd be a good match I'd love to <a href="mailto:vivch3n@gmail.com" target="_top">chat</a> </h3>
</div>

<div class="footer u-padding-bottom-small u-text-align-left">
  <span class="u-font-size-xx-small">This page is made using <a href="https://harpjs.com/">harp.js</a> as a framework and <a href="surge.sh">surge.sh</a> for deployment</span>
  <span class="u-display-block u-font-size-xx-small">Handcrafted by Vivian Chen ✨</span>
</div>
